<div class="container mt-3">

  <div class="card col-11 col-sm-11 col-md-8 col-lg-7 col-xl-6 mt-5 mx-auto">

    <div class="card-header d-flex">
      <div class="col-6 mt-2 d-flex justify-content-center" [ngClass]="isLogin ? 'purple h5': ''" role="button"
        (click)="isLogin = true">Login</div>
      <div class="col-6 mt-2 d-flex justify-content-center" [ngClass]="!isLogin ? 'purple h5': ''" role="button"
        (click)="isLogin = false">Signup</div>
    </div>

    <div class="card-body px-4">

      <!-- login -->
      <ng-container *ngIf="isLogin && !isReset">
        <app-login></app-login>
        <div class="purple mt-2 text-center text-hover"><span role="button" (click)="isReset =  true">Forgot
            Password</span></div>
      </ng-container>

      <!-- register -->
      <!-- Impl verify mail to activate account -->
      <ng-container *ngIf="!isLogin && !isReset">
        <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group" id="type">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked
            (change)="isUser = true" />
          <label class="btn btn-outline-secondary" for="btnradio1">User</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
            (change)="isUser = false" />
          <label class="btn btn-outline-secondary" for="btnradio2">Chef</label>
        </div>
        <app-user-register *ngIf="isUser"></app-user-register>
        <app-chef-register *ngIf="!isUser"></app-chef-register>
      </ng-container>

      <!-- forgot pwd -->
      <ng-container *ngIf="isReset">
        <div *ngIf="true" class="alert alert-success" role="alert">
          Show email sent message.
        </div>
        <form class="py-4">
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="enail" placeholder="Email" name="email" />
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class=" text-white bg-purple w-100 mb-2 mt-2 btn px-5">
              Send Link
            </button>
          </div>
          <div class="purple mt-2 text-center text-hover"><span role="button" (click)="isReset =  false">Back</span>
          </div>
        </form>
      </ng-container>

    </div>
  </div>
</div>