.own-border-3 {
  height: 3px;
}

img {
  height: 82%;
  width: 100%;
}

.own-border-2 {
  height: 1px;
}

.w-98 {
  width: 98%;
}

.btn:hover {
  background-color: var(--purple);
  color: white !important;
}

.end-8{
    right: 8%;
}

.end-14{
    right: 14%;
}

.nav-link{
  color: var(--purple);
}

.nav-link.active{
  background-color: var(--purple);
  color: white;
}
