<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex" role="group" aria-label="Basic radio toggle button group" id="type">
        <button type="button" class="btn me-2" [ngClass]="!isFavouriteChef ? 'bg-purple text-white' : 'bg-light purple'"
          (click)="isFavouriteChef = false">
          <i class="fa fa-birthday-cake">&nbsp;</i> Dishes</button>
        <button type="button" class="btn" [ngClass]="isFavouriteChef ? 'bg-purple text-white' : 'bg-light purple'"
          (click)="isFavouriteChef = true">
          <i class="fa fa-user">&nbsp;</i>
          Chefs</button>
      </div>
    </div>
  </div>
  <hr class="my-3">

  <div class="row px-0 mt-2" *ngIf="!isFavouriteChef">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let dish of [1, 2, 3, 4, 5, 6]">
      <div class="card float-start">
        <div>
          <img src="https://res.cloudinary.com/homioncloud/image/upload/v1641230930/product/400007.png" width="100%"
            alt="productImage">
          <button class="btn bg-light purple px-1 p-0 m-2 fs-12 position-absolute top-0 start-0">Available for
            Home</button>
          <button class="btn bg-light purple px-1 p-0 m-2 fs-6 position-absolute top-0 end-0 rounded-circle"><i
              class="fa fa-heart"></i></button>
          <button class="btn bg-success text-white px-1 p-0 m-2 mt-4 fs-12 fw-bold position-absolute top-50 end-0"><i
              class="fa fa-star-o"></i> 3.7 (100)</button>
        </div>
        <div class="row">
          <div class="col-12 px-2 pt-2">
            <span class="mt-2 ms-3">Pav Bhaji by Ronak Makwana</span><br>
          </div>
          <div class="col-6 px-2">
            <span class="ms-3 fs-12 text-secondary">Desert, Gujarati</span><br>
            <span class="mt-2 ms-3 fs-13 fw-bold purple"><i class="fa fa-inr"></i>300 For 500gm</span>
          </div>
          <div class="col-6">
            <button class="btn bg-purple text-white px-2 float-end fs-13 fw-bold p-1 me-4">ADD</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2" *ngIf="isFavouriteChef">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let chef of [1, 2, 3, 4, 5, 6]">
      <div class="card">
        <div>
          <img class="rounded-3 img-fluid chef-img"
            src="https://homion.herokuapp.com/chef/chefResources/image/defaultChef.jpg" width="90%" alt="chefImage" />
          <button class="btn bg-light purple px-1 p-0 m-2 fs-12 position-absolute top-0 start-0">Available for
            Home</button>
          <button class="btn bg-light purple px-1 p-0 m-2 fs-6 position-absolute top-0 end-0 rounded-circle"><i
              class="fa fa-heart"></i></button>
          <button class="btn bg-success text-white px-1 p-0 m-2 mt-4 fs-12 fw-bold position-absolute top-50 end-0"><i
              class="fa fa-star-o"></i> 3.7 (100)</button>
        </div>
        <div class="row">
          <div class="col-12 p-2">
            <span class="mt-2 ms-3">Harduk Amareliya</span><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>