<div id="mySidenav" class="sidenav shadow mt-2">
  <a routerLink="/user/home" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-home w-20"></i> &nbsp; Home
  </a>
  <a routerLink="/user/my-orders" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-list-ul w-20"></i> &nbsp; My Orders
  </a>
  <a routerLink="/user/favourites" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-heart w-20"></i> &nbsp; Favourites
  </a>
  <a routerLink="/user/checkout" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-shopping-cart w-20"></i> &nbsp; Cart
  </a>
  <a routerLink="/user/profile" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-user w-20">&nbsp;</i> &nbsp; Profile
  </a>
  <a routerLink="/user/logout" routerLinkActive="active" (click)="closeNav()">
    <i class="fa fa-sign-out w-20"></i> &nbsp; Logout
  </a>
</div>