<div class="container-scroller mt-4 h-100">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel own-body">

            <!-- Working area start-->
            <div class="m-2">
                <h2 class="m-2">Menu</h2>
            </div>

            <div class="row mx-2 px-5 mt-4">
                <div class="col-md-6 mb-4">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <h4>Product Name<span class="badge badge-pill badge-primary fs-5 float-end">Available</span>
                            </h4>
                            <!-- <h4>Product Name<span class="badge badge-pill badge-primary float-end"> 
                                Out Of Stock</span>
                            </h4>  -->
                            <h5 class="text-muted">Category Name | UnitValue | Unit
                                <i class="mdi mdi-currency-inr menu-icon"></i> Price
                            </h5>
                            <div class="mt-1 w-100 btn-group btn-group-sm mt-2">
                                <button type="button" class="btn btn-outline-primary purple border-2 fw-bolder"
                                    disabled="disabled">AVAILABLE</button>
                                <button type="button" class="btn btn-outline-primary purple border-2 fw-bolder">OUT OF
                                    STOCK</button>
                                <!-- <button type="button"
                                        class="btn btn-outline-primary purple border-2 fw-bolder">AVAILABLE</button> -->
                                <!-- <button type="button" class="btn btn-outline-primary purple border-2 fw-bolder"
                                            disabled>OUT OF STOCK</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="own-border-95 bg-purple m-4"></div>

            <h2 class="d-block m-3">Speciality</h2>

            <div class="row mx-2 px-5 mt-4">
                <div class="col-md-6 mb-4">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <div>
                                <h4>Product Name
                                    <span class="float-end text-warning">
                                        <h5>Chef's Special</h5>
                                    </span>
                                </h4>
                            </div>
                            <div>
                                <h5 class="text-muted">Category Name | UnitValue
                                    | Unit<i class="mdi mdi-currency-inr menu-icon"></i>Price
                                    <span class="badge badge-pill badge-primary float-end fs-5">Available</span>
                                    <!-- <span class="badge badge-pill badge-primary float-end fs-5">Out of Stoc</span> -->
                                </h5>
                            </div>
                            <div>
                            </div>
                            <div class="mt-1 w-100 btn-group btn-group-sm mt-2">
                                <button type="button" class="btn btn-outline-primary purple border-2 fw-bolder"
                                    disabled="disabled">AVAILABLE</button>
                                <button type="button" class="btn btn-outline-primary purple border-2 fw-bolder">OUT OF
                                    STOCK</button>
                                <!-- <button type="button"
                            class="btn btn-outline-primary purple border-2 fw-bolder">AVAILABLE</button> -->
                                <!-- <button type="button" class="btn btn-outline-primary purple border-2 fw-bolder"
                            disabled>OUT OF STOCK</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Working area end-->
    </div>
</div>