<ng-template #orderDetailsModal>
    <div class="modal-header">
        <h5 class="modal-title">Order Id : #1641439040550</h5>
        <button type="button" class="btn shadow-none" (click)="onClose()">
            <span class="h3">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-user purple menu-icon">&nbsp;&nbsp;</i><span class="fs-bolder" id="userName">
                    <!-- User Name through JS -->Harshil Dangi
                </span>
            </div>
            <div class="col-md-4">
                <i class="fa fa-phone purple menu-icon">&nbsp;&nbsp;</i> <span class="font-weight-bold"
                    id="userMobileNo">
                    <!-- User Mobile no through JS -->912345678
                </span>
            </div>
        </div>
        <div class="mt-2 row">
            <div class="col-md-12">
                <i class="fa fa-map-marker menu-icon purple">&nbsp;</i>
                <span id="userAddress">
                    12, Madhav city, Landmark, Bopal - 380058
                </span>
            </div>
        </div>

        <h5 class="mt-3">Order Details</h5>
        <table class="mt-3 table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="modalItems">
                <tr>
                    <td>Product Name</td>
                    <td>3</td>
                    <td><i class="fa fa-inr menu-icon">&nbsp;</i>30</td>
                </tr>
            </tbody>
            <tr class="font-weight-bold">
                <td>&nbsp;Total</td>
                <td></td>
                <td><i class="fa fa-inr menu-icon"></i>30</td>
            </tr>
        </table>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div> -->
</ng-template>
