<div class="card px-3 pb-3">

  <span class="fw-bold pt-3">Harshil Dangi</span>
  <span class="fs-12 text-secondary pt-1"><i class="fa fa-map-marker"></i> 10, Vibhusha Bunglows, Kabir Enclave, Bopal -
    380058</span>
  <hr>

  <div class="cart-item mt-2">
    <div class="float-end ms-5 mt-1"><i class="fa fa-inr"></i> 123</div>
    <div>
      <span class="fs-5 text-success pe-2">&#8865;</span>
      ABC
      <span class="fs-13 text-secondary">X</span>
      5
    </div>
  </div>
  <div class="cart-item mt-2">
    <div class="float-end ms-5 mt-1"><i class="fa fa-inr"></i> 123</div>
    <div>
      <span class="fs-5 text-success pe-2">&#8865;</span>
      ABC
      <span class="fs-13 text-secondary">X</span>
      5
    </div>
  </div>
  <div class="cart-item mt-2">
    <div class="float-end ms-5 mt-1"><i class="fa fa-inr"></i> 123</div>
    <div>
      <span class="fs-5 text-success pe-2">&#8865;</span>
      ABC
      <span class="fs-13 text-secondary">X</span>
      5
    </div>
  </div>

  <hr class="mt-4">

  <div class="to-pay">
    <div class="h5 float-start">TO PAY</div>
    <div class="h5 float-end"> <i class="fa fa-inr"></i> 1234</div>
  </div>

  <button class="btn-lg bg-success border border-white mt-3 text-white fs-16 py-3">PLACE ORDER</button>

</div>