<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10 mx-auto">
      <form enctype="multipart/form-data">

        <div class="mt-4 row text-center">
          <div class="col-md-12">
            <div class="cotainer">
              <img id="image" src="https://homion.herokuapp.com/chef/chefResources/image/defaultChef.jpg"
                alt="profile Image" class="rounded-circle" style="height: 250px;">
              <div><i class="fa fa-camera menu-icon purple h4 mt-2" type="button" (click)="chefImage.click()"></i></div>
              <input type="file" id="file" name="file" hidden="true" accept="image/*" #chefImage>
            </div>

            <h3 class="mt-n1">Harshil Dangi</h3>
            <!-- <h6 class="mt-1 text-muted">Bopal, Ahmedabad</h6> -->
          </div>
        </div>

        <h4 class="ml-3 mt-4">Manage Account</h4>
        <div class="ml-3 own-border-95 bg-purple"></div>

        <div class="col-md-12">
          <label class="form-label fw-bold" for="username">User Name</label>
          <input type="text" class="form-control" id="userName" name="userName" />
        </div>

        <div class="col-md-6">
          <label class="form-label fw-bold" for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" />
        </div>

        <div class="col-md-6">
          <label class="form-label fw-bold" for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" />
        </div>

        <div class="col-md-12">
          <label class="form-label fw-bold" for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" disabled />
        </div>

        <div class="col-md-12">
          <label class="form-label fw-bold" for="mobileno">Mobile No</label>
          <input type="text" class="form-control shadow-none" id="mobileno" name="mobileno" disabled />
        </div>

        <div class="col-12 mb-5 mt-5">
          <button type="submit" class="btn btn-outline-primary fw-bolder purple w-100">UPDATE</button>
        </div>
      </form>

    </div>
  </div>
</div>